<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Cache-Control" content="no-store,no-cache,must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>BackBox Login Page</title>
    <link rel="icon" href="assets/images/favicon.png"/>
    <style>
        /*Ensures the page is only displayed when fully rendered*/
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="Login">
<div class="big-container" ng-controller="loginController as ctrl">
    <div class="login-form-container" ng-cloak>
        <div class="logo"></div>
        <h3 id="version" ng-cloak>{{ctrl.version}}</h3>
        <form id="form-login"
              class="login-container"
              name="ctrl.loginForm"
              autocomplete="off"
              ng-cloak
              novalidate
              style="padding-top: 65px;"
              method="post"
              accept-charset="UTF-8"
              action="j_security_check"
              ng-if="!ctrl.sessionTimeout && !ctrl.twoFactorRequired && !ctrl.strongPasswordRequired && !ctrl.rsaAuthRequired && !ctrl.multipleRelatedLdapGroups">
            <div class="login-item" style="position: relative;"
                 ng-if="::ctrl.isUseSso == undefined ? undefined : !ctrl.isUseSso">
                <input type="text"
                       id="j_username"
                       name="j_username"
                       placeholder="Username"
                       autofocus
                       required
                       style="width:100%;"
                       ng-model="ctrl.username"
                       ng-keydown="ctrl.keydown($event)">
                <svg viewBox="0 0 415 373" style="left:-30px;width:120%;">
                    <path d="m 50,45 h 315 c 50,0 50,94 0,94 h -315 c -50,0 -50,94 0,94 h 290 c 30,0  30,-42 0,-42 h -269 c -30,0 -30,42 0,42 h 200"/>
                </svg>
            </div>
            <input type="password"
                   id="j_password"
                   class="login-item"
                   name="j_password"
                   placeholder="Password"
                   required
                   ng-if="::ctrl.isUseSso == undefined ? undefined : !ctrl.isUseSso"
                   ng-model="ctrl.password"
                   ng-keydown="ctrl.keydown($event)">
            <input type="button"
                   id="submitBtn"
                   class="login-btn login-item"
                   name="submitBtn"
                   value="Sign In"
                   ng-disabled="ctrl.loginForm.$invalid"
                   ng-if="::ctrl.isUseSso == undefined ? undefined : !ctrl.isUseSso"
                   ng-model="ctrl.submitBtn"
                   ng-click="ctrl.login()">
            <a id="sso-login" hidden href="/rest/data/sso/login" ng-if="::ctrl.isUseSso">
            </a>
            <div class="sso-container" ng-if="::ctrl.isUseSso">
                <div class="loader">Loading...</div>
                <p class="sso-sign-in">Signing in with SSO...</p></div>
            <h3 class="credentials login-item"
                ng-class="(((ctrl.loginForm.$invalid || ctrl.loginForm.$pristine) && ctrl.loginForm.submitBtn.$touched) || (ctrl.wrongCredentials && ctrl.loginForm.$pristine && ctrl.loginForm.submitBtn.$untouched)) && 'animated'"
                ng-cloak>
                {{(ctrl.loginForm.$invalid || ctrl.loginForm.$pristine) && ctrl.loginForm.submitBtn.$touched ? 'Please enter your credentials' : 'Incorrect Username and/or Password'}}

            </h3>
        </form>
        <div class="login-container" ng-if="ctrl.sessionTimeout">
            <h3 class="credentials login-item animated" style="padding-bottom: 80px">
                BackBox has either been restarted or has timed out your session.
                <br>You will be redirected to the login page in <span id="countdown">{{ctrl.secondsToRefresh}}</span>...
            </h3>
        </div>
        <div class="two-fa-container">
            <form autocomplete="off"
                  ng-cloak
                  novalidate
                  id="twoFactorForm"
                  name="ctrl.twoFactorForm"
                  class="login-container"
                  ng-if="ctrl.twoFactorRequired && ctrl.twoFactorConfigured">
                <div class="login-item" style="position: relative;">
                    <input type="text"
                           id="twoFactorCode"
                           style="width:100%;"
                           name="twoFactorCode"
                           ng-model="ctrl.twoFactorCode"
                           placeholder="Enter your two-factor code"
                           ng-keydown="ctrl.keydown($event)"
                           tabindex="1"
                           autofocus
                           required>
                    <svg viewBox="0 0 415 373" style="left:-45px;width:120%;">
                        <path d="m 50,40 h 315 c 50,0 50,98 0,98 h -292 c -30,0  -30,-45 0,-45 h 270 c 30,0 30,45 0,45 h -180"/>
                    </svg>
                </div>
                <input type="button"
                       id="twoFactorBtn"
                       class="login-btn login-item"
                       name="twoFactorBtn"
                       value="Sign In"
                       tabindex="2"
                       ng-model="ctrl.twoFactorBtn"
                       ng-disabled="ctrl.twoFactorForm.$invalid"
                       ng-click="ctrl.performTwoFactorAuth()">
                <h3 ng-cloak
                    style="font-size: 0.95rem;white-space: nowrap;"
                    class="credentials login-item"
                    ng-class="ctrl.twoFactorError && 'animated'">
                    {{ctrl.twoFactorError || "Please enter your two-factor code"}}
                </h3>
            </form>
        </div>
        <div class="generate-2fa-container">
            <form autocomplete="off"
                  ng-cloak
                  novalidate
                  name="ctrl.twoFactorConfForm"
                  class="login-container"
                  ng-if="ctrl.twoFactorRequired && !ctrl.twoFactorConfigured">
                <h3 ng-if="!ctrl.twoFactorData.secretKey"
                    class="credentials login-item animated">
                    Your account was configured to use two factor authentication. Click the button below to generate new
                    codes.
                </h3>
                <input ng-if="!ctrl.twoFactorData.secretKey" type="button" class="login-btn login-item"
                       value="Generate"
                       ng-click="ctrl.generateTwoFactorData()"/>
                <div class="generate-qr-container">
                    <section class="keySection login-item" ng-if="ctrl.twoFactorData.secretKey">
                        <qrcode style="display: flex;justify-content: center;" data="{{ctrl.qrCode}}"
                                error-correction-level="H"
                                size="150"></qrcode>
                        <div style="color:white;margin-top: 20px;text-align: center;">
                            <label style="font-size: 14px !important;line-height: 24px;">
                                <strong style="font-size: 14px !important;">Your secret key is: </strong>
                                {{ctrl.twoFactorData.secretKey}}
                            </label>
                            <label style="font-size: 14px !important;display: block;line-height: 24px;">
                                <strong style="font-size: 14px !important;">Your scratch codes are: |</strong>
                                <span style="font-size: 14px !important;"
                                      ng-repeat="scratchCode in ctrl.twoFactorData.scratchCodes"> {{scratchCode}}  <strong>|</strong></span>
                            </label>
                        </div>
                    </section>
                    <input type="button"
                           class="login-btn login-item"
                           value="Sign In"
                           ng-if="ctrl.twoFactorData.secretKey"
                           ng-click="ctrl.proceedToMainPage()">
                </div>
            </form>
        </div>
        <p class="sys-admin-notification" ng-if="ctrl.strongPasswordRequired">Your system admin changed password
            requirements. <br>Please select a new
            password. </p>
        <div class="strong-password-container">
            <div class="strong-password-form">
                <form ng-if="ctrl.strongPasswordRequired"
                      name="ctrl.strongPasswordForm"
                      id="strongPasswordForm"
                      class="login-container long-form"
                      autocomplete="off"
                      ng-cloak
                      novalidate>
                    <div class="login-item" style="position: relative;">
                        <input style="width:100%;"
                               type="password"
                               id="strongPassword"
                               ng-model="ctrl.password"
                               placeholder="New password"
                               autofocus
                               required
                               ng-keydown="ctrl.keydown($event)">
                        <svg viewBox="0 0 415 373" style="left:-47px;width:125%;">
                            <path d="m 50,45 h 315 c 50,0 50,81 0,81 h -315 c -50,0 -50,84 0,84 h 292 c 30,0  30,-45 0,-45 h -270 c -30,0 -30,45 0,45 h 200"/>
                        </svg>
                    </div>
                    <input class="login-item"
                           type="password"
                           id="strongPasswordConfirm"
                           ng-model="ctrl.passwordConfirm"
                           placeholder="Confirm password"
                           required
                           ng-keydown="ctrl.keydown($event)">
                    <input type="button"
                           name="strongPasswordBtn"
                           ng-model="ctrl.submitBtn"
                           class="login-btn login-item" style="margin-top: 40px;"
                           value="Sign In"
                           ng-disabled="ctrl.strongPasswordForm.$invalid"
                           ng-click="ctrl.insertStrongPassword()">
                    <h3 class="login-item credentials"
                           ng-class="ctrl.strongPasswordError && 'animated'">
                        {{ctrl.strongPasswordError || "Please enter a password"}}
                    </h3>
                </form>
            </div>
            <div class="pwd-requirements-container" ng-if="ctrl.strongPasswordRequired">
                <p class="pwd-requirements">Password must contain:</p>
                <ul>
                    <li>8 characters</li>
                    <li>One lowercase character (a-z)</li>
                    <li>One uppercase character (A-Z)</li>
                    <li>One number (0-9)</li>
                    <li>One special character (!@#$%^&*)</li>
                </ul>
            </div>
        </div>
        <form autocomplete="off"
              id="rsaForm"
              name="ctrl.rsaTokenForm"
              class="login-container"
              novalidate
              ng-cloak
              ng-if="ctrl.rsaAuthRequired">
            <div class="login-item" style="position: relative;">
                <input type="text"
                       name="rsaToken"
                       id="rsaToken"
                       style="width: 100%;"
                       ng-model="ctrl.rsaPasscode"
                       placeholder="Enter RSA passcode"
                       ng-keydown="ctrl.keydown($event)"
                       ng-style="ctrl.rsaAuthPending && {'color': '#FF9800'}"
                       tabindex="1"
                       autofocus
                       required>
                <svg viewBox="0 0 415 373" style="left:-45px;width:120%;">
                    <path d="m 50,46 h 315 c 50,0 50,92 0,92 h -292 c -30,0  -30,-43 0,-43 h 268 c 30,0 30,43 0,43 h -180"/>
                </svg>
            </div>

            <input type="button"
                   name="submitRsaToken"
                   id="submitRsaToken"
                   class="login-btn login-item"
                   value="Sign In"
                   tabindex="2"
                   ng-disabled="ctrl.rsaTokenForm.$invalid"
                   ng-click="ctrl.performRSATokenAuth(ctrl.rsaAuthPending ? 2 : 1)">
            <h3 class="credentials login-item" ng-class="ctrl.rsaAuthError && 'animated'" ng-cloak>
                {{ctrl.rsaAuthError || "Enter RSA passcode"}}
            </h3>
        </form>
        <form ng-if="ctrl.multipleRelatedLdapGroups"
              id="multipleLdapForm"
              name="multipleLdapFormValidation"
              class="login-container"
              ng-cloak
              novalidate>
            <label class="login-item" style="line-height: 24px; font-size: 15px;">
                Your user is associated with more than one LDAP group. Please select one group with which to log in:
            </label>
            <div class="login-item select-container" style="position: relative;">
                <select style="width:100%;"
                        id="ldapGroups"
                        ng-model="ctrl.selectedLdapGroupId"
                        ng-init="ctrl.selectedLdapGroupId = null"
                        ng-change="ctrl.multipleLdapGroupError = ''"
                        ng-options="id as groupName for (id, groupName) in ctrl.userRelatedLdapGroups">
                    <option value="" selected="true">--Select LDAP group--</option>
                </select>
            </div>
            <input type="button"
                   ng-model="ctrl.submitBtn"
                   class="login-btn login-item"
                   value="Sign In"
                   ng-disabled="!ctrl.selectedLdapGroupId"
                   ng-click="ctrl.updateUserLdapGroupSelection()">
            <label class="credentials login-item" ng-class="ctrl.multipleLdapGroupError && 'animated'">
                {{ctrl.multipleLdapGroupError || 'Select a group'}}
            </label>
        </form>
    </div>
</div>
<div class="bottom-pattern-img"></div>
<script type="text/javascript" src="dist/js/login.bundle.js?f3ff0d25c1996536c03f"></script></body>
</html>
